 <!DOCTYPE html>
 <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Lightz</title>
 </head>
 <body>
    <div class="row w-100">
      <div class="col">
         <h3>Set To</h3>
      </div>
      <div class="col">
         <input id="r" type="number">
      </div>
      <div class="col">
         <input id="g" type="number">
      </div>
      <div class="col">
         <input id="b" type="number">
      </div>
      <div class="col" id="enter">
         <button onclick="manualDemo()">SET</button>
      </div>
    </div>
    <div class="row w-100">
      <div class="col">
         <h3>Test Ani</h3>
      </div>
      <div class="col">
         <input id="aniR" type="number">
         <input id="aniG" type="number">
         <input id="aniB" type="number">
      </div>
      <button onclick="rippleDemo()">RIPPLE</button>
      <button onclick="cascadeDemo()">CASCADE</button>
      <button onclick="pingPongDemo()">PONG</button>
   </div>

 </body>